<h1>Restaurant List</h1>
<% @restaurants.each do |restaurant| %>
  <h3><%= link_to restaurant.name, restaurant_path(restaurant.id) %> - <%= restaurant.rating %></h3>
  <%= link_to "Delete", restaurant_path(restaurant.id), method: "delete" %>
  <%#= link_to "Show", restaurant_path(restaurant.id) %>
<% end %>