<!-- POST  /restaurants(.:format) restaurants#create -->
<!-- <form action="/restaurants" method="POST">
  <label for="name">Enter a Name</label>
  <input type="text" name="restaurant[name]">
  <label for="rating">Enter a Rating</label>
  <input type="text" name="restaurant[rating]">
  <input type="Submit">
</form> -->
<!-- Restaurant.new(name: params["name"], rating: params["rating"]) -->
<%= render 'form' %>